html, body {
	margin:0;
	width: 100%;
}
main {
	background-color: gray;
	margin: 0 auto;
	width:90%;
}

#logo p {
	font-size: 20px;
	color: white;
}
#img-to-hide{
	display:none;
}

header {
	width: 90%;
	height: 100px;
	background-color: white;
}
header .row {
	margin: 0 auto;
	background-color: red;
	width: 100%;
}
#logo {
	margin: 0 auto;
	height: 45%;

}

.navbar-expand-sm {
	height: 0;
	padding-top: 0;
	background-color: white;
}
.navbar-nav { 
	margin-top: 60px;
    flex-direction: row;
    
    background-color: white;
}
.navbar-toggler {
	margin-top: 12%;
	margin-left:90%;
	background-color: black;
}
li {
	color: black;
	font-size: 20px;
	padding-right: 100px;
}
#initial-articles {
	margin-bottom: 100px;
}
#headliner {
	background-color: blue;
	height: 900px;
}

aside {
	background-color: purple;
	height: 600px;
}
.card {
	height: 400px;
}
.card-img-top {
	height: 80%;
}
#in-the-magazine .card {
	padding: 30px;
}
header,footer {
	margin: 0 auto;
	width: 90%;
	
	
}
footer {
	height: 200px;
	background-color: orange;
	border-radius: 5px;
}
@media (min-width: 576px) { 
	header {
		height: 100px;
	}
	li {
		padding:5px;
	}
	#img-to-hide {
		display:none;
	}
	
}
@media (min-width: 768px) { 
header {
		height: 100px;
	}
#img-to-hide {
		display: inline;
	}
}

@media (min-width: 992px) {
	header {
		height: 185px;
	}
	#logo p {
		font-size: 80px;
	}

}
